%section-rules {
  @media (min-width: 480px) {
    margin: 0 auto;
    width: 450px;
    padding: 0 10px;
  }

  @media (min-width: 768px) {
    width: 640px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    width: 715px;
    padding: 0;
  }
}
