.section17 {
  @extend %section-rules;

  &__text {
    font-family: 'Acrom';
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-black-color;
    margin-bottom: 23px;
  }

  &__rectangle {
    width: 370px;
    height: 274px;
    margin: 0 auto;
    background-color: #052139;
    -webkit-box-shadow: 0 8px 14px $primary-black-color;
    -moz-box-shadow: 0 8px 14px $primary-black-color;
    box-shadow: 0 8px 14px $primary-black-color;
    margin-bottom: 42px;
  }

  &__rectangle--first {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 32px;
  }

  &__rectangle--first--text1 {
    position: relative;
    font-family: 'Acrom';
    font-size: 13px;
    color: rgb(241, 192, 192);
    width: 110px;

    &::after {
      content: '';
      position: absolute;
      width: 34px;
      height: 2px;
      top: 23px;
      left: 109px;
      background-color: $secondary-black-color;
    }
  }

  &__rectangle--first--text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    font-family: 'Acrom';
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  &__rectangle--second {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin: 0 auto;
  }

  &__rectangle--second--text3 {
    font-family: 'Acrom';
    font-size: 13px;
    color: $primary-black-color;
    width: 85px;
    height: 13px;
    line-height: 1.4;
    padding-bottom: 80px;
    padding-top: 3px;

    & > span {
      background-color: #16ebfe;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  &__rectangle--second--text4 {
    font-family: 'Acrom';
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 38px;
    padding-left: 12px;
  }

  &__rectangle--second--text5 {
    font-family: 'Acrom';
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding-top: 22px;
    padding-right: 10px;
  }

  &__text--p {
    width: 298px;
    margin: 0 auto;
  }

  &__text--p1 {
    margin: 0 auto;
    font-family: 'Acrom';
    font-size: 15px;
    font-weight: bold;
    color: $primary-black-color;
    margin-bottom: 19px;
  }

  &__text--p2 {
    margin: 0 auto;
    font-family: 'Acrom';
    font-size: 12px;
    color: $secondary-black-color;
    margin-bottom: 30px;
    padding-right: 84px;
  }

  &__text--p3 {
    position: relative;
    margin: 0 auto;
    font-family: 'Acrom';
    color: $orange-color;
    line-height: 1.5;
    margin-bottom: 33px;
    font-size: 14px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      width: 30px;
      height: 2px;
      background-color: $primary-black-color;
      transform: translate(-160%, 600%) rotate(-55deg);
    }
  }

  &__text--button {
    border: none;
    margin: 0 auto;
    cursor: pointer;
    width: 294px;
    height: 40px;
    background-color: $orange-color;
    -webkit-box-shadow: 0 5px 6px rgba(196, 87, 15, 0.26);
    -moz-box-shadow: 0 5px 6px rgba(196, 87, 15, 0.26);
    box-shadow: 0 5px 6px rgba(196, 87, 15, 0.26);
  }

  &__text--p4 {
    font-family: 'Acrom';
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
}

@media (min-width: 480px) {
  .section17 {
    margin-bottom: 70px;
  }
}

.section17 {
  @media (min-width: 768px) {
    width: 640px;
    padding: 0;

    &__text {
      font-size: 27px;
      margin-left: 278px;
    }

    &__wrraper {
      width: 600px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__rectangle {
      width: 260px;
      height: 192px;
      background-color: #052139;
      -webkit-box-shadow: 0 11px 22px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 11px 22px rgba(0, 0, 0, 0.15);
      box-shadow: 0 11px 22px rgba(0, 0, 0, 0.15);
      margin: 0;
      margin-right: 123px;
    }

    &__rectangle--first {
      margin: 0 auto;
      padding: 0;
      margin-top: 55px;
    }

    &__rectangle--first--text1 {
      font-size: 9px;
      line-height: 14px;
      padding-left: 42px;
      padding-top: 1px;
    }

    &__rectangle--first--text2 {
      font-size: 10px;
      line-height: 20px;
      padding-top: 8px;
      padding-right: 35px;
    }

    &__rectangle--second {
      padding-top: 20px;
    }

    &__rectangle--second--text3 {
      font-size: 9px;
      width: 93px;
      padding-left: 43px;
    }

    &__rectangle--second--text4 {
      font-size: 27px;
    }

    &__rectangle--second--text5 {
      font-size: 9px;
      padding-right: 70px;
      padding-top: 17px;
      padding-right: 38px;
    }

    &__text--p {
      width: 220px;
    }

    &__text--p1 {
      width: 308px;
      font-size: 9px;
      line-height: 12px;
      padding-left: 25px;
      padding-right: 107px;
      margin-bottom: 10px;
    }

    &__text--p2 {
      padding-right: 0;
      font-size: 8px;
      line-height: 12px;
      padding-left: 25px;
      padding-right: 50px;
      margin-bottom: 19px;
    }

    &__text--p3 {
      width: 174px;
      margin-right: 51px;
      font-size: 9px;
      line-height: 14px;
      padding-left: 25px;

      &::before {
        left: 33px;
        top: 0;
        width: 19px;
        height: 2px;
        background-color: $primary-black-color;
        transform: translate(-160%, 600%) rotate(-55deg);
      }
    }

    &__text--button {
      width: 201px;
      height: 28px;
      background-color: $orange-color;
      -webkit-box-shadow: 0 7px 10px rgba(196, 87, 15, 0.26);
      -moz-box-shadow: 0 7px 10px rgba(196, 87, 15, 0.26);
      box-shadow: 0 7px 10px rgba(196, 87, 15, 0.26);
      margin-right: 118px;
    }

    &__text--p4 {
      font-size: 7px;
    }
  }
}

.section17 {
  @media (min-width: 1200px) {
    width: 715px;
    padding: 0;
    margin-bottom: 110px;

    &__text {
      font-family: 'Acrom';
      font-size: 30px;
      text-transform: uppercase;
      margin-left: 220px;
    }

    &__wrraper {
      width: 680px;
    }

    &__rectangle {
      margin-right: 140px;
    }

    &__rectangle--first--text1 {
      font-size: 10px;
    }

    &__rectangle--first--text2 {
      font-size: 11px;
      padding-right: 33px;
    }

    &__rectangle--second--text3 {
      font-size: 10px;
      padding-left: 39px;
    }

    &__rectangle--second--text5 {
      font-size: 12px;
    }

    &__text--p {
      width: 226px;
      margin-right: 70px;
    }
  }
}
