.warning {
  @extend %section-rules;
  color: $primary-black-color;
  font-family: 'Acrom';
  margin-bottom: 71px;

  &-image-wrapper {
    display: none;
  }

  &__title {
    position: relative;
    right: 13px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 200px;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__caption {
    position: relative;
    left: 7px;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -38px;
      top: 9px;
      width: 21px;
      height: 2px;
      background-color: $primary-black-color;
    }
  }

  &-list {
    margin: 0 auto;
    width: 304px;

    &__item {
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -23px;
        top: 8px;
        width: 6px;
        height: 6px;
        background-color: $primary-black-color;
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 11px;
    }

    &__title {
      margin-bottom: 2px;
      font-size: 13px;
      font-weight: 900;
      line-height: 20px;
      text-transform: uppercase;
    }

    &__describe {
      color: #3f4144;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

@media (min-width: 480px) {
  .warning {
    margin-bottom: 65px;
  }
}

@media (min-width: 768px) {
  .warning {
    padding: 0 17px 0 40px;
    margin-bottom: 98px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-image-wrapper {
      display: block;
      position: relative;
      top: 16px;
      height: 412px;
    }

    &__bg-image {
      position: absolute;
      top: -10px;
      right: -46px;
    }

    &__image {
      display: block;
    }

    &__title {
      position: static;
      margin-bottom: 14px;
      width: 300px;
      font-size: 27px;
      line-height: 33px;
    }
  
    &__caption {
      left: 47px;
      margin: 0;
      margin-bottom: 34px;
      width: 170px;
      font-size: 9px;
      line-height: 13px;
  
      &::before {
        left: -46px;
        top: 5px;
        width: 29px;
        height: 4px;
      }
    }
  
    &-list {
      position: relative;
      left: 24px;
      margin: 0;
      width: 212px;
  
      &__item {  
        &::before {
          left: -23px;
          top: 5px;
          width: 6px;
          height: 6px;
        }
      }
  
      &__item:not(:last-child) {
        margin-bottom: 16px;
      }
  
      &__title {
        font-size: 9px;
        line-height: 14px;
        margin-bottom: 6px;
      }
  
      &__describe {
        font-size: 8px;
        line-height: 11px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .warning {
    margin-bottom: 110px;
    padding-right: 18px;
    padding-left: 42px;

    &-image-wrapper {
      position: relative;
      top: 22px;
      height: 459px;
    }

    &__bg-image {
      position: absolute;
      top: -15px;
      right: -49px;
    }

    &__title {
      margin-bottom: 14px;
      width: 334px;
      font-size: 30px;
      line-height: 37px;
    }
  
    &__caption {
      left: 53px;
      margin: 0;
      margin-bottom: 38px;
      width: 180px;
      font-size: 10px;
      line-height: 15px;
  
      &::before {
        left: -52px;
        top: 6px;
        width: 32px;
        height: 4px;
      }
    }
  
    &-list {
      left: 34px;
      margin: 0;
      width: 234px;
  
      &__item {  
        &::before {
          left: -33px;
          top: 5px;
          width: 8px;
          height: 8px;
        }
      }
  
      &__item:not(:last-child) {
        margin-bottom: 18px;
      }
  
      &__title {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 6px;
      }
  
      &__describe {
        font-size: 9px;
        line-height: 13px;
      }
    }
  }
}